/* SIDEBAR_OVERRIDES ––––––––––––––––––––––––––––––––––––––––––––––– */

/* Chapter parent */
:global(.theme-doc-sidebar-item-category-level-1 > .menu__list) {
  @apply pb-6;
}

:global(.theme-doc-sidebar-item-link-level-1 .menu__link),
:global(.theme-doc-sidebar-item-category-level-1 .menu__link--sublist) {
  @apply pl-7 relative leading-4 pb-2;
}

:global(.menu__list-item.theme-doc-sidebar-item-category-level-1) {
  @apply relative;
}

:global(.menu__list-item.theme-doc-sidebar-item-category-level-1:before) {
  content: "";
  @apply bg-grey-500 absolute top-2.5 left-[14px] w-[1.8px] h-[calc(100%+4px)] transition-all;
}
:global(.menu__list-item.menu__list-item--collapsed.theme-doc-sidebar-item-category-level-1:last-child:before) {
  @apply h-0;
}

/* Chapter symbol */
:global(.theme-doc-sidebar-item-link-level-1 .menu__link:before),
:global(.theme-doc-sidebar-item-category-level-1 .menu__link--sublist:before) {
  content: "";
  @apply absolute top-2.5 left-1.5 w-3 h-3 ring-2 ring-grey-500 bg-white rounded-full;
}

:global(.solution-phase.theme-doc-sidebar-item-link-level-1 .menu__link:before),
:global(.solution-phase.theme-doc-sidebar-item-category-level-1 .menu__link--sublist:before),
:global(.problem-phase.theme-doc-sidebar-item-link-level-1 .menu__link:before),
:global(.problem-phase.theme-doc-sidebar-item-category-level-1 .menu__link--sublist:before) {
  @apply rounded-none rotate-45 w-2.5 h-2.5 left-[8.5px];
}

:global(.problem-phase .menu__list-item-collapsible .menu__link),
:global(.problem-phase .menu__list-item-collapsible .menu__link--sublist) {
  @apply text-magenta-500;
}
:global(.solution-phase .menu__list-item-collapsible .menu__link),
:global(.solution-phase .menu__list-item-collapsible .menu__link--sublist) {
  @apply text-blue-500;
}

:global(.menu__link--active) {
  @apply text-[inherit];
}

:global(.menu__list-item:not(:first-child)) {
  @apply m-0;
}

:global(.menu__link--active:before),
:global(.theme-doc-sidebar-item-link-level-1 .menu__link--active:before),
:global(.theme-doc-sidebar-item-category-level-1 .menu__link--active:before) {
  @apply bg-grey-500;
}

:global(.problem-phase .menu__link--active:before),
:global(.problem-phase.theme-doc-sidebar-item-link-level-1 .menu__link--active:before),
:global(.problem-phase.theme-doc-sidebar-item-category-level-1 .menu__link--active:before) {
  @apply bg-magenta-500;
}
:global(.solution-phase .menu__link--active:before),
:global(.solution-phase.theme-doc-sidebar-item-link-level-1 .menu__link--active:before),
:global(.solution-phase.theme-doc-sidebar-item-category-level-1 .menu__link--active:before) {
  @apply bg-blue-500;
}
:global(.intro .menu__link:before),
:global(.intro.theme-doc-sidebar-item-link-level-1 .menu__link:before),
:global(.intro.theme-doc-sidebar-item-category-level-1 .menu__link:before) {
  @apply ring-grey-300 w-3.5 h-3.5 top-[9px] left-[7px] bg-no-repeat;
  background-image: url('../../assets/icons/flag-grey.svg');
  background-position: center 3px;
}
:global(.intro .menu__link--active:before),
:global(.intro.theme-doc-sidebar-item-link-level-1 .menu__link--active:before),
:global(.intro.theme-doc-sidebar-item-category-level-1 .menu__link--active:before) {
  @apply bg-grey-300 ring-0 w-4 h-4 top-2 left-1 bg-no-repeat;
  background-image: url('../../assets/icons/flag.svg');
  background-position: center bottom;
}

:global(.problem-phase.menu__list-item.theme-doc-sidebar-item-category-level-1:before) {
  @apply bg-magenta-500;
}
:global(.solution-phase.menu__list-item.theme-doc-sidebar-item-category-level-1:before) {
  @apply bg-blue-500;
}
:global(.intro.menu__list-item.theme-doc-sidebar-item-category-level-1:before) {
  @apply bg-grey-300;
}

:global(.problem-phase .menu__link:before),
:global(.problem-phase .menu__link--sublist:before) {
  @apply ring-magenta-500;
}
:global(.solution-phase .menu__link:before),
:global(.solution-phase .menu__link--sublist:before) {
  @apply ring-blue-500;
}
:global(.intro .menu__link:before),
:global(.intro .menu__link--sublist:before) {
  @apply ring-grey-300;
}

/* Menu link */
:global(.menu__link--active:not(.menu__link--sublist)),
:global(.menu__list-item-collapsible--active) {
  @apply bg-transparent font-bold;
}

/* Nested menu link */
:global(.menu__list .menu__list) {
  @apply pl-7;
}

/* Arrow/Caret */
:global(.menu__link--sublist-caret:after) {
  @apply absolute top-1.5 right-2 rotate-90;
}

:global(.menu__caret:before),
:global(.menu__link--sublist-caret:after) {
  @apply opacity-40;
}

/* Sidebar parent */
:global(.theme-doc-sidebar-menu) {
  padding: max(1rem, 2vh) max(1rem, 1.8vw);
  padding-right: max(0.5rem, 1vw);
}

/* Sidebar border */
@media (min-width: 997px) {
  :global(.theme-doc-sidebar-container) {
    @apply !border-none relative;
  }

  :global(.theme-doc-sidebar-container:before) {
    content: "";
    width: 1px;
    @apply h-full fixed bg-gradient-to-b from-grey-50 via-white to-white;
    top: var(----ifm-navbar-height);
    left: calc(var(--doc-sidebar-width) - 26px);
    transition: left 200ms ease-out;
  }

  :global(aside[class*="docSidebarContainerHidden_"]:before) {
    left: 34px;
  }
}

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Sidebar collapse/expand button's container */
:global(.theme-doc-sidebar-container) {
  @apply relative;
}

/* Must add a right padding, because the container uses clip-path to animate the menu in and out*/
:global(.theme-doc-sidebar-container .menu) {
  @apply pr-4;
}
:global(div[class*="sidebar_"]) {
  @apply pr-5;
}

/* Styling the expand and collapse buttons */
:global(aside[class*="docSidebarContainerHidden_"] div[class*="expandButton_"]),
:global(.theme-doc-sidebar-container .menu ~ button) {
  @apply fixed top-[107px] -translate-x-[46px] p-0 w-8 h-8 rounded-full border-grey-100 border;
  left: var(--doc-sidebar-width);
  background: var(--ifm-background-surface-color) url('../../assets/icons/chevrons-left.svg') center center no-repeat;
}

/* Hidding the original svg icon */
:global(aside[class*="docSidebarContainerHidden_"] div[class*="expandButton_"] > svg),
:global(.theme-doc-sidebar-container .menu ~ button > svg) {
  @apply hidden;
}

/* For the expand button, flip it and shift it */
:global(aside[class*="docSidebarContainerHidden_"] div[class*="expandButton_"]) {
  left: 60px;
  @apply -scale-x-100;
}

/* Adding hover styles to the buttons */
:global(aside[class*="docSidebarContainerHidden_"] div[class*="expandButton_"]:hover),
:global(.theme-doc-sidebar-container .menu ~ button:hover) {
  background-color: rgb(var(--grey-50));
}

/* -––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Steps hacks */
:global(.menu__list-item.step .menu__link) {
  @apply pt-6 relative my-1;
}

:global(.menu__list-item.step .menu__link:before) {
  @apply absolute text-grey-300 italic top-1 left-3 bg-transparent font-normal;
}

:global([lang="en"] .menu__list-item.step-1 .menu__link:before) { content: 'Step 1'; }
:global([lang="en"] .menu__list-item.step-2 .menu__link:before) { content: 'Step 2'; }
:global([lang="en"] .menu__list-item.step-3 .menu__link:before) { content: 'Step 3'; }
:global([lang="en"] .menu__list-item.step-4 .menu__link:before) { content: 'Step 4'; }
:global([lang="en"] .menu__list-item.step-5 .menu__link:before) { content: 'Step 5'; }
:global([lang="en"] .menu__list-item.step-6 .menu__link:before) { content: 'Step 6'; }
:global([lang="en"] .menu__list-item.step-7 .menu__link:before) { content: 'Step 7'; }
:global([lang="en"] .menu__list-item.step-8 .menu__link:before) { content: 'Step 8'; }
:global([lang="en"] .menu__list-item.step-9 .menu__link:before) { content: 'Step 9'; }

:global([lang="de"] .menu__list-item.step-1 .menu__link:before) { content: 'Etappe 1'; }
:global([lang="de"] .menu__list-item.step-2 .menu__link:before) { content: 'Etappe 2'; }
:global([lang="de"] .menu__list-item.step-3 .menu__link:before) { content: 'Etappe 3'; }
:global([lang="de"] .menu__list-item.step-4 .menu__link:before) { content: 'Etappe 4'; }
:global([lang="de"] .menu__list-item.step-5 .menu__link:before) { content: 'Etappe 5'; }
:global([lang="de"] .menu__list-item.step-6 .menu__link:before) { content: 'Etappe 6'; }
:global([lang="de"] .menu__list-item.step-7 .menu__link:before) { content: 'Etappe 7'; }
:global([lang="de"] .menu__list-item.step-8 .menu__link:before) { content: 'Etappe 8'; }
:global([lang="de"] .menu__list-item.step-9 .menu__link:before) { content: 'Etappe 9'; }
