@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "National";
    font-style: normal;
    font-weight: 400;
    src: local("National"),
      url(../assets/fonts/NationalWeb-Regular.woff2) format("woff2"),
      url(../assets/fonts/NationalWeb-Regular.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "National";
    font-style: italic;
    font-weight: 400;
    src: local("National Regular Italic"),
      url(../assets/fonts/NationalWeb-RegularItalic.woff2) format("woff2"),
      url(../assets/fonts/NationalWeb-RegularItalic.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "National";
    font-style: normal;
    font-weight: 800;
    src: local("National Extrabold"),
      url(../assets/fonts/NationalWeb-Extrabold.woff2) format("woff2"),
      url(../assets/fonts/NationalWeb-Extrabold.woff) format("woff");
    font-display: swap;
  }
  @font-face {
    font-family: "National";
    font-style: italic;
    font-weight: 800;
    src: local("National Extrabold Italic"),
      url(../assets/fonts/NationalWeb-ExtraboldItalic.woff2) format("woff2"),
      url(../assets/fonts/NationalWeb-ExtraboldItalic.woff) format("woff");
    font-display: swap;
  }

  @font-face {
    font-family: "IBM Plex Mono";
    font-style: normal;
    font-weight: 700;
    src: local("IBM Plex Mono"),
      url(../assets/fonts/IBMPlexMono-Bold.woff2) format("woff2"),
      url(../assets/fonts/IBMPlexMono-Bold.woff) format("woff");
    font-display: swap;
  }

  @counter-style decimal-leading-zero-no-dot {
    system: extends decimal-leading-zero;
    suffix: "";
  }

  @counter-style large-circle {
    system: cyclic;
    symbols: "\25EF";
    suffix: " ";
    fallback: circle;
  }

  /**
   * Any CSS included here will be global. The classic template
   * bundles Infima by default. Infima is a CSS framework designed to
   * work well for content-centric websites.
   */

  :root {
    --blue-50: 244 244 250;
    --blue-100: 219 219 241;
    --blue-200: 172 172 218;
    --blue-300: 151 151 209;
    --blue-400: 111 111 198;
    --blue-500: 47 47 162;
    --blue-600: 28 28 148;
    --blue-700: 6 6 119;
    --blue-800: 0 0 91;
    --blue-900: 1 1 60;

    --magenta-50: 249 236 239;
    --magenta-100: 255 221 229;
    --magenta-200: 253 202 214;
    --magenta-300: 250 165 184;
    --magenta-400: 251 130 157;
    --magenta-500: 246 76 114;
    --magenta-600: 226 55 93;
    --magenta-700: 203 53 86;
    --magenta-800: 175 38 68;
    --magenta-900: 142 11 40;

    --grey-50: 236 236 239;
    --grey-100: 219 219 226;
    --grey-200: 196 196 208;
    --grey-300: 156 157 176;
    --grey-400: 119 120 155;
    --grey-500: 57 58 96;
    --grey-600: 29 30 66;
    --grey-700: 16 17 43;
    --grey-800: 16 16 25;
    --grey-900: 14 14 20;

    --ifm-color-primary: rgb(var(--blue-500));
    --ifm-color-primary-dark: rgb(var(--blue-600));
    --ifm-color-primary-darker: rgb(var(--blue-700));
    --ifm-color-primary-darkest: rgb(var(--blue-800));
    --ifm-color-primary-light: rgb(var(--blue-200));
    --ifm-color-primary-lighter: rgb(var(--blue-100));
    --ifm-color-primary-lightest: rgb(var(--blue-50));

    --ifm-color-gray-100: rgb(var(--grey-100));
    --ifm-color-gray-200: rgb(var(--grey-200));
    --ifm-color-gray-300: rgb(var(--grey-300));
    --ifm-color-gray-400: rgb(var(--grey-400));
    --ifm-color-gray-500: rgb(var(--grey-500));
    --ifm-color-gray-600: rgb(var(--grey-600));
    --ifm-color-gray-700: rgb(var(--grey-700));
    --ifm-color-gray-800: rgb(var(--grey-800));
    --ifm-color-gray-900: rgb(var(--grey-900));

    --ifm-color-content: var(--ifm-color-gray-700);
    --ifm-color-content-secondary: rgb(var(--magenta-500));

    --ifm-font-color-secondary: var(--ifm-color-content-secondary);

    --ifm-heading-color: var(--ifm-color-gray-500);
    --ifm-font-family-base: "National", sans-serif;

    --ifm-navbar-height: 3.5rem;
    
    --doc-sidebar-width: max(20vw,380px) !important;
    --doc-sidebar-hidden-width: 60px !important;
  }

  html,
  body {
    font-size: 20px;
    line-height: 28px;
    @apply font-sans text-grey-500 antialiased;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }

  *:focus-visible {
    outline-color: rgb(var(--magenta-500));
    outline-width: 2px;
  }

  main > .container {
    padding: max(1rem,2vw) max(1rem,5vw) max(3rem,10vh) !important;
  }

  blockquote {
    quotes: "» " " «";
  }

  blockquote::before {
    content: open-quote;
    color: rgb(var(--magenta-500));
  }
  blockquote::after {
    content: close-quote;
    color: rgb(var(--magenta-500));
  }

  .theme-doc-markdown {
    @apply prose max-w-none prose-p:text-grey-500 prose-p:leading-snug prose-headings:text-grey-500 prose-headings:font-extrabold prose-h1:text-4xl prose-h1:md:text-5xl prose-h2:text-2xl prose-h2:md:text-3xl prose-h3:text-xl prose-h3:md:text-2xl prose-h4:text-lg prose-h4:md:text-xl prose-h5:text-base prose-h5:md:text-lg prose-h6:text-base prose-a:text-magenta-500 prose-a:underline prose-a:font-extrabold prose-strong:text-grey-500 prose-ol:list-decimal-leading-zero-no-dot prose-ol:pl-5 prose-ul:list-large-circle prose-ul:leading-snug prose-ul:pl-5 prose-li:pl-2 prose-li:marker:text-magenta-500 prose-blockquote:border-l-grey-100;
  }
}

@layer utilities {
  .clip-circle-50 {
    clip-path: circle(50%);
  }

  .clip-standing-square {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
  }

  .hyphens-auto {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    hyphenate-limit-after: 2;
    hyphenate-limit-before: 3;
  }
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Header */
.navbar {
  box-shadow: none;
  @apply border-b border-grey-50 py-0;
}

.navbar__brand {
  width: calc(var(--doc-sidebar-width) - 60px);
  margin: 0;
}

@media screen and (min-width: 996px) {
  .navbar__link {
    @apply flex items-center leading-tight;
  }
}

.dropdown > .navbar__link:after {
  @apply scale-75;
}

.navbar__link--active {
  @apply font-bold text-grey-500;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Breadcrumbs (Unsafe, therefore here) */
.breadcrumbs {
  @apply flex items-center mt-[3px] flex-wrap;
}

.breadcrumbs > li {
  @apply flex items-center;
}

.breadcrumbs > li > .breadcrumbs__link {
  @apply text-base leading-tight pt-0.5;
}

html[class*="docs-doc-id-erkunden/"] .breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link,
html[class*="docs-doc-id-erkennen/"] .breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link {
  @apply text-magenta-500;
}

html[class*="docs-doc-id-entwerfen/"] .breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link,
html[class*="docs-doc-id-erproben/"] .breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link {
  @apply text-blue-500;
}


.breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link {
  @apply relative pl-7;
}

.breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link:before {
  content: '';
  @apply absolute w-3.5 aspect-square rounded-full bg-grey-500 left-2 top-1/2 -translate-y-1/2;
}

html[class*="docs-doc-id-erkunden/"] .breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link:before,
html[class*="docs-doc-id-erkennen/"] .breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link:before,
html[class*="docs-doc-id-entwerfen/"] .breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link:before,
html[class*="docs-doc-id-erproben/"] .breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link:before {
  @apply rounded-none rotate-45 w-3 h-3;
}

html[class*="docs-doc-id-einfuehrung/"] .breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link:before {
  @apply bg-grey-300 bg-no-repeat w-4 h-4 left-1.5;
  background-image: url('../assets/icons/flag.svg');
  background-position: center 4px;
}

html[class*="docs-doc-id-erkunden/"] .breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link:before,
html[class*="docs-doc-id-erkennen/"] .breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link:before {
  @apply bg-magenta-500;
}

html[class*="docs-doc-id-entwerfen/"] .breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link:before,
html[class*="docs-doc-id-erproben/"] .breadcrumbs > li:nth-of-type(2) > .breadcrumbs__link:before {
  @apply bg-blue-500;
}

.breadcrumbs > li:first-of-type > .breadcrumbs__link {
  @apply p-0 w-7 h-7 -ml-1;
  background: white url('../assets/icons/home.svg') center center no-repeat;
}

.breadcrumbs > li:first-of-type > .breadcrumbs__link:hover {
  background: rgb(var(--grey-50)) url('../assets/icons/home.svg') center center no-repeat;
}

.breadcrumbs > li:first-of-type svg {
  display: none;
}

.breadcrumbs__item--active .breadcrumbs__link {
  @apply bg-transparent font-bold text-grey-500;
}

/* ––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
/* Page navigation */
.pagination-nav {
  gap: 0;
}

.pagination-nav__link {
  @apply border-0 p-0 pt-6 border-t border-grey-50 rounded-none;
}

.pagination-nav__sublabel {
  @apply text-grey-300;
}

.pagination-nav__label {
  @apply relative;
}

.pagination-nav__link--prev .pagination-nav__label::before,
.pagination-nav__link--next .pagination-nav__label::after {
  content: " ";
  @apply w-4 h-4 absolute top-[4px] left-0 -translate-x-1 lg:-translate-x-6;
  background: url('../assets/icons/chevron-left.svg') center center no-repeat;
}

.pagination-nav__link--prev .pagination-nav__label {
  @apply pl-4 lg:pl-0;
}

.pagination-nav__link--next .pagination-nav__label {
  @apply pr-4 lg:pr-0;
}

.pagination-nav__link--next .pagination-nav__label::after {
  @apply left-auto right-0 translate-x-1 lg:translate-x-6;
  background-image: url('../assets/icons/chevron-right.svg');
}

/* Table of Contents */
html .theme-doc-toc-desktop {
  top: var(--ifm-navbar-height);
  max-height: calc(100vh - var(--ifm-navbar-height));
}

.table-of-contents {
  @apply p-0 py-[max(2vw,1rem)] lg:opacity-60 transition-opacity hover:opacity-100 !border-t-grey-50;
}

html[lang="de"] .table-of-contents:before {
  content: "Auf dieser Seite:";
  @apply hidden lg:block text-base pb-2 mb-2 border-b border-grey-50 font-bold mt-[1px];
}

.table-of-contents__left-border {
  border: none;
}

.table-of-contents li {
  @apply m-0 text-xs;
}

.table-of-contents__link {
  @apply px-1.5 py-1 transition-colors text-grey-500 hover:text-blue-500 hover:bg-grey-50 rounded;
}

div[class*="tocCollapsibleContent_"] ul.table-of-contents > li {
  @apply mx-0 mb-2 pr-2;
}

.table-of-contents__link--active {
  @apply text-grey-500 font-bold;
}

div[class*="tocCollapsibleContent_"] {
  @apply lg:p-3 border-b lg:border-b-0 border-grey-50 mb-16 lg:mb-0;
}

html .theme-doc-toc-mobile {
  @apply bg-transparent;
}

html .theme-doc-toc-mobile > button.clean-btn {
  @apply p-0 pb-2;
}

p {
  @apply hyphens-auto;
}

#entwicklungsmatrix,
#prozessverlauf,
#mitspielerinnen-kartieren,
#teamprofil--selbsteinschätzung,
#teamarbeitsroutine,
#fünf-finger-feedback,
#gewaltfreie-kommunikation,
#entwicklungsplan,
#resultate-dokumentieren,
#ich-und-der-prozess,
#baumanalyse,
#akteure-kartieren,
#wissensatlas,
#annahmen-dreieck,
#lagebericht,
#gesprächsleitfaden,
#gesprächsgrundlagen,
#vorgespräche-führen,
#gespräch-dokumentieren,
#individuelle-gesprächsauswertung,
#bedürfnis-hindernis-filter,
#denkfehler-kontrolle,
#potenzialbaukasten,
#wie-können-wir-fragen,
#potenzial-steckbrief,
#themengeleitetes-netzwerken,
#testbasis-zusammenstellen,
#persona-profil,
#konzept-prototypen,
#testverlauf-planen,
#test-dokumentieren,
#test-auswerten,
#mvp-canvas,
#relevanztrichter,
#inspirationsdatenbank,
#innovationsreise,
#werteturm,
#kreativitätsmuskel-aufwärmen,
#kreativer-radschlag,
#ideen-generator,
#visuelle-abstimmung,
#mehrwert-aufwand-matrix,
#zukunftstheater,
#ideenserviette {
  visibility: hidden;
  height: 0;
  margin: 0;
}
